.account-page
  .account__header
    = link_to image_tag('logo.png', size: "159×50"),"#" 
  .account__center
    .title
      新規館員登録
    .url
      .btn_mail
        = link_to "メールアドレスで登録する","#"
      .btn_facebook
        = link_to "Facebookで登録する","#"
      .btn_google
        = link_to "Googleで登録する","#"
  .account__footer
