# 出品、取引、売却済み、購入商品
.show-item-page
  .show-item-main
    出品した商品
  .show-item-sub
    .show-item-sub__exhibiting
      出品中
    .show-item-sub__trading
      取引中
    .show-item-sub__sold
      売却済み
.item