// 奥本
.text-style{
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

.category-names {
  font-size: 14px;
  color: #0099e8;
}

.photo-up-piece{
  display: flex;
}

