// 奥本さん担当
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.alert-text {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: red;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  vertical-align: top;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

.input-default {
  display: block;
  width: 100%;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 8px;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}




.sell-container {
  padding :0;
  margin: 0;
  width: 100vw;
  background-color: rgb(245, 245, 245);
  &__header {
    height: 128px;
    padding-top: 40px;
    text-align: center;
    &__link {
      cursor: pointer;
    }
  }
  &__main {
    &__inner {
      width: 700px;
      margin: 0 auto;
      background-color: white;
      &--head {
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        padding: 32px 16px;
        text-align: center;
        font-size: 22px;
        color: #333;
        border-bottom: 1px solid #EEE;
        font-weight: bold;
      }
      &__form {
        height: 1919px; //あとで消す
        &__upload-box {
          width: 620px;
          padding: 40px;
          border-bottom: 1px solid #EEE;
          &--head {
            font-size: 16px;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
            font-weight: bold;
            color: #333;
            display: inline;
          }
          &--subhead {
            font-size: 14px;
            color: rgb(51, 51, 51);
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
            margin-top: 8px;
            margin-bottom: 16px;
          }
          &__drop-area {
            width: 620px;
            background-color: #f5f5f5;
            height: 162px;
            border: 1px dashed #ccc;
            &--text {
              text-align: center;
              font-size: 14px;
              color: rgb(51, 51, 51);
              font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              font-weight: bold;
            }
          }
        }
        
        // ---------------------出品画像の登録-------------------------
        &__input1 {
          padding: 40px;
          border-bottom: 1px solid #EEE;
          &--title {
            font-size: 14px;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
            font-weight: bold;
            color: #333;
            display: inline;
          }
          &--title-default {
            display: block;
            width: 100%;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            box-sizing: border-box;
            margin-top: 8px;
            margin-bottom: 40px;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          }
          &--desc {
            font-size: 14px;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
            font-weight: bold;
            color: #333;
            display: inline;
          }
          &--desc-default {
            height: 142px;
            margin: 8px 0 0;
            display: block;
            width: 100%;
            max-width: 100%;
            min-height: 104px;
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
            box-sizing: border-box;
          }
          .sell-form-box { width: 400px; float: right;}
          .form-group1 { width: 100%; }
          .form-group2 { margin-top: 40px; }
        }

        // ---------------------商品の詳細-------------------------
        &__input2 {
          padding: 40px;
          border-bottom: 1px solid #EEE;
          display: flex;
          justify-content: space-between;
          &--sub-title {
            font-size: 14px; 
            display: inline;
            color: #888;
            font-weight: bold;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          }
          &__form-box {
            width: 400px;
            height: 100%;
            float: right;
            &__group1 {
              &--input-title {
                font-size: 14px;
                font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                font-weight: bold;
                color: #333;
                display: inline;
              }
              .select-default {
                width: 100%;
                position: relative;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
              }
            }
            &__group2 {
              margin-top: 40px;
              &--input-title {
                font-size: 14px;
                font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                font-weight: bold;
                color: #333;
                display: inline;
              }
              .select-default {
                width: 100%;
                position: relative;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
              }
            }
          }
        }
        // -------------------配送について---------------------------
        &__input3 {
          padding: 40px;
          border-bottom: 1px solid #EEE;
          display: flex;
          justify-content: space-between;
          &--sub-title {
            font-size: 14px; 
            display: inline;
            color: #888;
            font-weight: bold;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          }
          &__form-box {
            width: 400px;
            height: 100%;
            float: right;
            &__group1 {
              &--input-title {
                font-size: 14px;
                font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                font-weight: bold;
                color: #333;
                display: inline;
              }
              .select-default {
                width: 100%;
                position: relative;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
              }
            }
            &__group2 {
              margin-top: 40px;
              &--input-title {
                font-size: 14px;
                font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                font-weight: bold;
                color: #333;
                display: inline;
              }
              .select-default {
                width: 100%;
                position: relative;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
              }
            }
          }
        }

        // -------------------価格について---------------------------
        &__input4 {
          padding: 40px;
          border-bottom: 1px solid #EEE;
          display: flex;
          justify-content: space-between;
          &--sub-title {
            font-size: 14px; 
            display: inline;
            color: #888;
            font-weight: bold;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          }
          &__form-box {
            width: 400px;
            height: 100%;
            float: right;
            &__group1 {
              display: flex;
              justify-content: space-between;
              padding-bottom: 24px;
              border-bottom: 1px solid #CCC;
              &__left {
                padding-top: 15px;
                &--input-title {
                  font-size: 14px;
                  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                  font-weight: bold;
                  color: #333;
                  display: inline;
                }
              }
              &__right {
                .input-price {
                  font-size: 16px;
                  width: 100%;
                  height: 48px;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  box-sizing: border-box;
                  padding: 10px 16px 8px;
                  text-align: right;
                }
              }
            }
            &__group2 {
              padding: 24px 0;
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid #CCC;
              &--input-title {
                font-size: 14px;
                font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                font-weight: bold;
                color: #333;
                display: inline;
              }
              &--handling-title {
                font-size: 14px;
                font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                color: #333;
                display: inline;
              }
              &--handling-cost {
                font-size: 14px;
                color: #333333;
                border-style: None;
                text-align: right;
              }
              &--profit-title {
                font-size: 16px;
                font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                font-weight: bold;
                color: #333;
                display: inline;
              }
              &--profit {
                font-size: 16px;
                border-style: None;
                text-align: right;
              }
            }
          }
        }
        &__sell-btn-box{
          padding: 40px;
          &--caution-text {
            font-size: 14px;
            color: #333;
            font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          }
          .caution-text-a-tag {
            text-decoration: none;
            color: #0099e8;
          }
          &__submit-btn {
            font-size: 14px;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            margin: 40px 0 0;
            width: 100%;
            line-height: 48px;
            cursor: pointer;
          }
          &__back-btn {
            width: 45%;
            line-height: 48px;
            margin: 24px auto 0;
            background: #aaa;
            border: 1px solid #aaa;
            text-align: center;
          }
          .sell-back-btn {
            font-size: 14px;
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
  &__footer {
    height: 220px;
    width: 100%;
    text-align: center;
    padding: 40px 0 40px 0; //上右下左
    &__text {
      font-size: 13px;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    }
    &__logo {
      cursor: pointer;
    }
    &__image {
      margin-top: 30px;
    }
    &__focus-area {
      &--atag {
        font-size: 12px;
        color: #333333;
        text-decoration: none;
        margin-right: 15px;
      }
    }
  }
}