.show-item-page {
  width: 100vw;
  height: 100vh;
  text-decoration: inherit;
  margin: 24px auto 0;
  padding: 0 40px;
  width: 700px;
  border-style: solid #f5f5f5;
  font-family: $font-family;
}

  .show-item-main{
    padding: 0 16px;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
  }
    
  .show-item-sub {
    font-family: $font-family;
    display: flex;
    border: 0;
    background: #eee;
    text-align: center;
    justify-content: space-around;
    color: #333;
    &__exhibiting{
      color: #333;
      font-size: 16px;
      line-height: 72px;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
    }
    &__trading{
      color: #333;
      font-size: 16px;
      line-height: 72px;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;

    }
    &__sold {
      color: #333;
      font-size: 16px;
      line-height: 72px;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
    }

}