.sell-footer
  .sell-footer__focus-area
    = link_to "プライバシーポリシー", "#", class: "sell-footer__focus-area--atag"
    = link_to "メルカリ利用規約", "#", class: "sell-footer__focus-area--atag"
    = link_to "特定商取引に関する表記", "#", class: "sell-footer__focus-area--atag"
  = link_to image_tag(src= "logo-white.png", size: "185x49", class: "sell-footer__focus-area__image"), "#", class: "sell-container__footer__focus-area__logo"
  .sell-footer__focus-area--text @FURIMA, lnk.