.mypage-information {
  background: white;
  width: 100%;
  margin: 50px;
  &__title{
    width: 100%;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    padding: 30px 0;
  }
  &__text{
    margin: 50px;
    font-size: 13px;
  }
  &__list{
    width: 50%;
    padding-left: 10%;
    &--label{
      margin-top: 30px;
      font-weight: bold;
    }
    &--text{
      margin-top: 10px;
    }
  }
}