// 購入確認画面
body{
  background-color: #f5f5f5;
}

.main-container{
  width: 100%;
  .buy-container{
    background-color: #fff;
    width: 50%;
    margin: auto;
    &__head{
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
    }
    &__item{
      border-top: 0.5px solid #f5f5f5;
      border-bottom: 0.5px solid #f5f5f5; 
      width: 100%;
      height: 150px;
      display: flex;
      &--inner{
        width: 50%;
        height: 100%;
        margin-left: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        .item-image{
          width: 25%;
          height: 80px;
          &__photo{
            display: inline-block;
            width: 100%;
            height: 100%;
          }
        }
        .item-detail{
          padding-left: 50px;
          &__name{
            font-size: 14px;
            padding: 8px;
          }
          &__price{
            display: flex;
            padding: 8px;
            .item-price{
              font-size: 15px;
            }
            .item-fee{
              font-size: 15px;
            }
          }
        }
      }
    }
    
    &__pay{
      height: 150px;
      .buy-price{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__label{
          font-size: 20px;
        }
        &__pay{
          font-size: 20px;
        }
      }
    }
    &__way{
      height: 150px;
      .pay-way{
        &__label{
          padding-bottom: 20px;
        }
      }
    }
    &__Shipping-address{
      height: 150px;
      }
    &__form{
      height: 100px;
      width: 50%;
      margin: auto;
      padding-top: 20px;
      .buy-btn{
        background:red;
        color: #fff;
        display: inline-block;
        height: 50px;
        width: 100%;
        line-height: 50px;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}  

.buy-content-inner{
  width: 50%;
  height: 100%;
  margin: auto;
  border-bottom: 0.5px solid #f5f5f5;
  display: flex;
  align-items: center;
}

.card-number, .card-date
{
  font-size: 14px;
}

i,a{
  color: #0099e8;
  text-decoration: none;
}

// 購入完了画面

// 部分テンプレートにしたがビュー崩れ。とりあえずSCSS記述。
.purchase-completed-container{
  width: 100%;
  height: 100vh;
  .sell-header {
    height      : calc( 128px - 35px);
    padding-top : 35px;
    text-align  : center;
    &__link {
      cursor: pointer;
    }
  }
}
.completed-container{
  width: 50%;
  height: 30%;
  background-color: #fff;
  margin: auto;
  padding: 50px;
  .buy-container{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    line-height: 2;
    &__head{
      font-size: 20px;
    }
    &__alert{
      font-size: 20px;
      margin-bottom: 80px;
    }
    &__buybtn{
      font-size: 20px;
    }
  }
}




