$background-color-gray  : #eeeeee;
$background-color-white : #ffffff;
$input-box-border-color : #CCCCCC;
$border-color-gray      : #eeeeee;
$base-color-blue        : #0099e8;
$title-font-color       : #333;
$font-family            : "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;

