$background-color-white: #eeeeee;
$border-color:#EEE;
$base-color-blue:#0099e8;
$font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
$title-font-color: #333;
